<div class="root">
    <header class="root-header">
        <button mat-button
                class="root-header-logo"
                (click)="onMainPageClick()">
            Main page
        </button>
        <div class="options">
            <div class="user-info">
                <img alt="user-avatar" class="user-avatar" src="assets/img/user/user-avatar.png">
                <span class="user-name">{{(userInfo | async)?.login}}</span>
            </div>
            <button mat-button
                    class="logout"
                    (click)="onLogoutClick()">
                Logout
            </button>
        </div>
    </header>
    <div class="root-body">
        <router-outlet></router-outlet>
    </div>
</div>
