<mat-form-field appearance="fill">
    <mat-label>Select auth</mat-label>
    <mat-select [(ngModel)]="selectedAuthOption"
                [placeholder]="'Auth type'"
                >
        <mat-option *ngFor="let option of authOptions"
                    [value]="option.type">
            {{option.title}}
        </mat-option>
    </mat-select>
</mat-form-field>


<div [ngSwitch]="selectedAuthOption">
    <div *ngSwitchCase="authOptionsType.SIGN_IN"
         [formGroup]="signInForm">
        <ng-container [ngTemplateOutlet]="loginTemplate"
                      [ngTemplateOutletContext]="{formGroup: signInForm}"></ng-container>
        <ng-container [ngTemplateOutlet]="passwordTemplate"
                      [ngTemplateOutletContext]="{formGroup: signInForm}"></ng-container>

        <button mat-button
                [disabled]="signInForm.invalid"
                (click)="onSignInClick()">
            Sign in
        </button>
    </div>

    <div *ngSwitchCase="authOptionsType.SIGN_UP"
         [formGroup]="signUpForm">
        <mat-form-field>
            <mat-label>Enter email</mat-label>
            <input  [formControlName]="'email'"
                    [placeholder]="'Your email'"
                    matInput
                    type="text">
            <mat-error *ngIf="signUpForm.controls['email'].hasError('email')">
                Enter a valid email
            </mat-error>
            <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <ng-container [ngTemplateOutlet]="loginTemplate"
                      [ngTemplateOutletContext]="{formGroup: signUpForm}"></ng-container>
        <ng-container [ngTemplateOutlet]="passwordTemplate"
                      [ngTemplateOutletContext]="{formGroup: signUpForm}"></ng-container>

        <button mat-button
                [disabled]="signUpForm.invalid"
                (click)="onSignUpClick()">
            Sign up
        </button>
    </div>
</div>

<ng-template #loginTemplate let-formGroup=formGroup>
    <mat-form-field [formGroup]="formGroup">
        <mat-label>Enter login</mat-label>
        <input  [formControlName]="'login'"
                [placeholder]="'Your login'"
                matInput
                type="text">
        <mat-error *ngIf="formGroup.controls['login'].hasError('max')">
            Max length is {{validationConstraints.LOGIN_MAX_LENGTH}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls['login'].hasError('required')">
            Login is <strong>required</strong>
        </mat-error>
    </mat-form-field>
</ng-template>

<ng-template #passwordTemplate let-formGroup=formGroup>
    <mat-form-field [formGroup]="formGroup">
        <mat-label>Enter password</mat-label>
        <input  [formControlName]="'password'"
                [placeholder]="'Your password'"
                matInput
                type="text">
        <mat-error *ngIf="formGroup.controls['password'].hasError('max')">
            Max length is {{validationConstraints.PASSWORD_MAX_LENGTH}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls['password'].hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
</ng-template>

